/*estilo para la index y organizar datos*/
/*diseñor de la columnas*/
.columnas{
  list-style: none;
  padding: 15px;
  display: grid;
  gap:  15px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
/*orden de la cartas*/
.card {
  padding: 15px;
  position: relative;
  border-radius: 20px;
  height: 120px;
  color: #fff;
}

/*style de la img y hacer que se salga con right*/
.imagen{
  position: absolute;
  right: -15px;
  border-bottom-width: 0;
  bottom: 0;
}

/*style del texto de los tipos*/
.nombreTipos h3 {
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}


.tipos {
  display: flex;
  flex-direction: column;
}

/*margen del tipo*/
.tipo {
  margin: 0 0 3px 2px;
  background-color:rgba(255, 255, 230, 0.3);
  border-radius: 20px;
  padding: 3px 10px;
  align-self: flex-start;
  line-height: 16px;
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el ícono y el texto */
  padding: 10px 20px;
  background-color: #ff4d2e;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 20px;
}

.loginButton:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}


